@{
    ViewData["Title"] = "Summary";
}
<div class="text-center">
    <h1>Overview of the Party Guests</h1>
    <p>Total Guests : @ViewBag.TotalGuests</p>
    <p>Total Family Members : @ViewBag.TotalFamilyGuests</p>
    <p>Yougest guest Age : @ViewBag.YoungestAge</p>
    <p>Oldest guest Age : @ViewBag.OldestAge</p>
</div>